# Environment variables
SUPABASE_URL=https://pkpcfksbslbileordrqs.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Tp8GPJO0_ee3FpITfqes1A_DMn2BZJO
SUPABASE_SECRET_KEY=sb_secret_8wgO2a6PG6tuwIux4GURWw_DAvTKzqX
SUPABASE_JWKS_URL=https://pkpcfksbslbileordrqs.supabase.co/auth/v1/.well-known/jwks.json
